body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(104, 104, 104);
}


.container {
    font-family:'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    width: 400px;
    background-color: black;
    padding: 30px;
    border-style: solid;
    border-radius: 10px;
    gap: 20px;
    padding-top: 45px;
    padding-bottom: 45px;
    border-width: 20px;
    border-color: rgb(24, 39, 104);
}

.input {
    display:flex;
    flex-direction:column;
    gap: 10px;
    height:auto;
}

.output {
    display:flex;
    flex-direction: column;
    height: 180px;
    width: 350px;
    background-color: rgb(169, 230, 224);
    border-radius: 45px;
    justify-content: space-around;
    align-items: end;
    padding: 20px;
    border-style: ridge;
    border-width: 10px;
    
}

.operation {
    font-size: 20px;
    color: rgb(78, 76, 76);
    font-weight: bold;
}

.result {
    font-size: 60px;
    font-weight: bold;
}

.row {
    display: flex;
    gap: 10px;
    
}

button {
    border-radius: 45px;
    border-style: solid;
    border-width: 10px;
    width: 75px;
    height: 75px;
    font-weight: bold;
    color: white;
    font-size: 30px;
}

.btn-1 {
    background-color:rgb(150, 148, 148);
    border-color: rgb(150, 148, 148);
}

.btn-1:hover {
    background-color:rgb(209, 209, 209);
    border-color: rgb(209, 209, 209);
    transition: background-color .25s, border-color .25s;
}

.btn-2 {
    background-color: rgb(68, 67, 67);
    border-color: rgb(68, 67, 67);
}

.btn-2:hover {
    background-color: rgb(124, 123, 123);
    border-color: rgb(124, 123, 123);
    transition: background-color .25s, border-color .25s;
}

.btn-3{
    background-color: orange;
    border-color: orange;
}

.btn-3:hover {
    background-color: rgb(252, 186, 65);
    border-color: rgb(252, 186, 65);
    transition: background-color .25s, border-color .25s;
}

#delete {
    font-size: 25px;
}
